.main-cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 5em;
    margin-bottom: 5em;
}

h2{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2.3em;
    font-family: var(--fonteEstilizada);
}

h3{
    font-size: 1.5em;
    font-weight: lighter;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2em;
    
    /* background estica para toda a caixa */
    align-items: stretch
}

.seccoes{
    width: 100%;

    display: flex;
    padding: 3em;
    padding-bottom: 1em;
    justify-content: center;
    text-align: center;
}

.tem-login{
    width: 50%;

    display: flex;
    flex-direction: column;
    
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    color: var(--corBranco);
    background-color: var(--corPrincipal);
}

.cadastrar{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    width: 60%;
}

.cadastrar h2{
    font-size: 2.5em;
    color: var(--corPrincipal);
}

.cadastrar form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
}

.cadastrar input{
    width: 70%;

    padding: .7em;
    font-size: .9em;

    background-color: var(--corCinzaClaro);
    border: var(--borda);
    border-radius: 2em;
}

.btn-ambos{
    width: 60%;

    padding: .5em;
    font-size: 1.3em;
    border-radius: 1em;

    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

#btn-login{
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corBranco);
}
#btn-login:hover{
    transition: .5s;
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}

#btn-cadastro{
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
}
#btn-cadastro:hover{
    transition: .5s;
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}



/* ---------- CADASTRO LIVRO ---------- */

.main-cadastroLivro .container{
    padding: 3%;
    margin-top: 3%;
}

#form-cadastroLivro{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#form-cadastroLivro label{
    font-weight: bold;
    margin-left: .3em;
    margin-bottom: .3em;
}

#form-cadastroLivro input, select{
    font-size: 1em;
    padding: .7em;

    border: var(--borda);
    border-radius: 2em;
}

#form-cadastroLivro .inserir-dados{
    display: flex;
    flex-direction: column;
}

#btn-cadastroLivro{
    margin-top: 10%;
    margin-bottom: 0em;

    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
}

#btn-cadastroLivro:hover{
    transition: .5s;
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}