.main-cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.3rem;
    font-family: var(--fonteEstilizada);
}

h3{
    font-size: 1.5rem;
    font-weight: lighter;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;
    
    /* background estica para toda a caixa */
    align-items: stretch
}

.seccoes{
    width: 100%;

    display: flex;
    padding: 3rem;
    padding-bottom: 1rem;
    justify-content: center;
    text-align: center;
}

.tem-login{
    width: 50%;

    display: flex;
    flex-direction: column;
    
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    color: var(--corBranco);
    background-color: var(--corPrincipal);
}

.cadastrar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    width: 60%;
}

.cadastrar h2{
    font-size: 2.5rem;
    color: var(--corPrincipal);
}

.cadastrar form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.cadastrar input{
    width: 70%;

    padding: .7rem;
    font-size: .9rem;

    background-color: var(--corCinzaClaro);
    border: var(--borda);
    border-radius: 2rem;
}

.btn-ambos{
    width: 60%;

    padding: .5rem;
    font-size: 1.3rem;
    border-radius: 1rem;

    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#btn-login{
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corBranco);

    transition: .5s ease;
}
#btn-login:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}

#btn-cadastro{
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);

    transition: .5s ease;
}
#btn-cadastro:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}



/* ---------- CADASTRO LIVRO ---------- */

.main-cadastroLivro .container{
    margin-top: 3%;
}

.largura{
    width: 80%;
}

h1{
    font-size: 3rem;
    margin-top: 3%;
    color: var(--corPrincipal);
    font-family: var(--fonteEstilizada);
}

#form-cadastroLivro{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-top: 4%;
    justify-content: center;
}

.container-duplo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.container-esquerdo{
    width: 40%;
    display: grid;
    align-items: center;

    padding-left: 2.3rem;
}

.container-direito{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    
    padding-left: 1rem;
    padding-right: 2.3rem;
    justify-content: center;
    align-items: baseline;
}

.inserir-dados label{
    font-weight: bold;
    margin-left: 0.5rem;
    margin-bottom: .3rem;
}

.inserir-dados input, select{
    font-size: 1rem;
    padding: .7rem;

    background-color: var(--corCinzaClaro);
    border: var(--borda);
    border-radius: 2rem;
}

.inserir-dados{
    display: flex;
    flex-direction: column;
    width: 100%;
}



#preview-capa{
    width: 70%;
    align-self: center;

    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1rem;

    border: var(--borda);
    border-radius: 2rem;
}

.hr-horizintal{
    margin-left: 1rem;
}

.container-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 0rem;
}

#btn-cadastroLivro{
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    font-size: 1.5rem;
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
    border-radius: 2rem;
    
    transition: .5s ease;
}

#btn-cadastroLivro:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}