.main-cadastro{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 5em;
    margin-bottom: 5em;
}

h2{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2.3em;
    font-family: var(--fonteEstilizada);
}

h3{
    font-size: 1.5em;
    font-weight: lighter;
}

.container{
    display: flex;
    flex-direction: row;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2em;
    
    /* background estica para toda a caixa */
    align-items: stretch
}

.seccoes{
    width: 100%;

    display: flex;
    padding: 3em;
    padding-bottom: 1em;
    justify-content: center;
    text-align: center;
}

.tem-login{
    width: 50%;

    display: flex;
    flex-direction: column;
    
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    color: var(--corBranco);
    background-color: var(--corPrincipal);
}

.cadastrar{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    width: 60%;
}

.cadastrar h2{
    font-size: 2.5em;
    color: var(--corPrincipal);
}

.cadastrar form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
}

.cadastrar input{
    width: 80%;

    padding: .7em;
    font-size: .9em;

    background-color: var(--corCinzaClaro);
    border: var(--borda);
    border-radius: 2em;
}

.btn-ambos{
    width: 80%;

    padding: .5em;
    font-size: 1.3em;
    border-radius: 1em;

    margin: 2em auto;
}

#btn-login{
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corBranco);

    transition: .5s ease;
}
#btn-login:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}

#btn-cadastro{
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);

    transition: .5s ease;
}
#btn-cadastro:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}



/* ---------- CADASTRO LIVRO ---------- */

.main-cadastroLivro .container{
    margin-top: 3%;
}

.largura{
    width: 80%;
}

h1{
    font-size: 3em;
    margin-top: 3%;
    color: var(--corPrincipal);
    font-family: var(--fonteEstilizada);
}

#form-cadastroLivro{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding-top: 4%;
    justify-content: center;
}

.container-duplo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.container-esquerdo{
    width: 40%;
    display: grid;
    align-items: center;

    padding-left: 2.3em;
}

.container-direito{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    
    padding-left: 1em;
    padding-right: 2.3em;
    justify-content: center;
    align-items: baseline;
}

.inserir-dados label{
    font-weight: bold;
    margin-left: 0.5em;
    margin-bottom: .3em;
}

.inserir-dados input, select{
    font-size: 1em;
    padding: .7em;

    background-color: var(--corCinzaClaro);
    border: var(--borda);
    border-radius: 2em;
}

.inserir-dados{
    display: flex;
    flex-direction: column;
    width: 100%;
}




#preview-capa{
    width: 70%;
    align-self: center;

    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1em;

    border: var(--borda);
    border-radius: 2em;
}

.hr-horizintal{
    margin-left: 1em;
}

.container-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 0em;
}

#btn-cadastroLivro{
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1.5em;

    font-size: 1.5em;
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
    border-radius: 2em;
    
    transition: .5s ease;
}

#btn-cadastroLivro:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}

@media (max-width: 975px){

    h2{
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .main-cadastro{
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .seccoes{
        width: 100%;

        display: flex;
        padding: 2em;
        padding-bottom: 1em;
        justify-content: center;
        text-align: center;
    }

    .tem-login h2{
        font-size: 2em;
    }

    #btn-cadastro{
        margin-top: .5em;
        margin-bottom: 1em;
    }
}