h1{
    padding-top: .5em;
    margin-bottom: .5em;

    font-family: var(--fonteEstilizada);
    font-size: 3em;
    color: var(--corPrincipal);
}

.container-catalogo{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1em;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2em;
}

/* ---------- Filtro do Catalogo ---------- */

.filtro-catalogo{
    display: flex;
    flex-direction: column;

    margin: auto 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    text-align: left;
}

.filtro-catalogo h3{
    padding: .3em 2em;
    margin-bottom: 1em;
    font-size: 1.5em;

    border-radius: .3em;
    color: var(--corBranco);
    background-color: var(--corPrincipal);
}

.filtro-catalogo aside{
    display: flex;
    flex-direction: column;

    list-style: none;
    text-align: left;
}

.filtro-catalogo h5{
    font-size: 1.3em;
    font-weight: normal;
}

.filtro-catalogo h3{
    text-align: center;
}

.filtro-catalogo hr{
    margin: .3em 0em;
}

input[type="checkbox"] {
    accent-color: var(--corPrincipal);

    width: .5em;
    height: .5em;
    margin-right: .2em;

    font-size: 2em;

    transition: .5s ease;
}

.span-categoria{
    font-size: 1.2em;
    font-weight: 300;
}

#filtro-catalogo{
    margin-bottom: 1em;
}

/* ---------- Lista de Livro do Catalogo ---------- */

#grid-catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;

    padding: 1em 2em;
}

.capa-livro{
    border-radius: 1em;
    
    max-width: 247px;
    max-height: 357px;
}

.item-grid{
    display: flex;
    flex-direction: column;
    max-height: 35em;
    padding: 1em;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2em;

    transition: .5s ease;
}

.item-grid:hover{
    border: 1px solid var(--corPrincipal);
    transform: translateY(-5px);
}


.titulo-livro{
    padding-top: 1em;
    padding-bottom: .1em;
    
    font-size: 120%;
}

.autor-livro{
    padding-bottom: 1em;
    margin-bottom: auto;

    font-size: 100%;
    font-weight: normal;
}

/* ---------- RESPONSIVIDADE ---------- */

@media (max-width: 975px){
    #grid-catalogo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;

        padding: 1em 2em;
    }

    .item-grid, .capa-livro{
        border-radius: 1.5em;
    }

    .capa-livro{
        max-width: calc(247px / 1.5) ;
        max-height: calc(357px / 1.5) ;
    }

/*     .titulo-livro{
        padding-top: 1em;
        padding-bottom: .1em;
        font-size: 1.1em;
    }

    .autor-livro{
        padding-bottom: 1em;
        margin-bottom: auto;

        font-size: .9em;
        font-weight: normal;
    } */
}


@media screen and (max-width: 820px) {
    
    .container-catalogo{
        width: 80%;
    }

    .container-catalogo hr{
        display: none;
    }

    /* ---------- Filtro do Catalogo ---------- */
    .filtro-catalogo{
        display: none;
    }

    /* ---------- Lista de Livro do Catalogo ---------- */

}