

.main-catalogo h1{
    padding-top: .5rem;
    margin-bottom: .5rem;

    font-family: var(--fonteEstilizada);
    font-size: 3rem;
    color: var(--corPrincipal);
}

.container-catalogo{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;
}

/* ---------- Filtro do Catalogo ---------- */

.filtro-catalogo{
    display: flex;
    flex-direction: column;

    margin: auto 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: left;
}

.filtro-catalogo h3{
    padding: .3rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    border-radius: .3rem;
    color: var(--corBranco);
    background-color: var(--corPrincipal);
}

.filtro-catalogo aside{
    display: flex;
    flex-direction: column;

    list-style: none;
    text-align: left;
}

.filtro-catalogo h5{
    font-size: 1rem;
    font-weight: normal;
}

.filtro-catalogo h3{
    text-align: center;
}

.filtro-catalogo hr{
    margin: .3rem 0rem;
}

input[type="checkbox"] {
    accent-color: var(--corPrincipal);

    width: .5rem;
    height: .5rem;
    margin-right: .2rem;

    font-size: 2rem;

    transition: .5s ease;
}

.span-categoria{
    font-size: 1.2rem;
    font-weight: 300;
}

#filtro-catalogo{
    margin-bottom: 1rem;
}

/* ---------- Lista de Livro do Catalogo ---------- */

#grid-catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    padding: 1rem 2rem;
}

.capa-livro{
    border-radius: 1rem;
    align-self: center;
    
    max-width: 247px;
    max-height: 357px;
}

.item-grid{
    display: flex;
    flex-direction: column;
    max-height: 35rem;
    padding: 1rem;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;

    transition: .5s ease;
}

.item-grid:hover{
    border: 1px solid var(--corPrincipal);
    transform: translateY(-5px);
}


.titulo-livro{
    padding-top: 1rem;
    padding-bottom: .1rem;
    
    font-size: 120%;
}

.autor-livro{
    padding-bottom: 1rem;
    margin-bottom: auto;

    font-size: 1rem;
    font-weight: normal;
}

/* ---------- RESPONSIVIDADE ---------- */

@media (max-width: 1500px){
    #grid-catalogo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        padding: 1rem 2rem;
    }

    .capa-livro{
        align-self: center;
        max-width: calc(247px / 1.3) ;
        max-height: calc(357px / 1.3) ;
    }

    .btn-detalhes{
        font-size: 1rem;
    }

/*     .titulo-livro{
        padding-top: 1em;
        padding-bottom: .1em;
        font-size: 1.1em;
    }

    .autor-livro{
        padding-bottom: 1em;
        margin-bottom: auto;

        font-size: .9em;
        font-weight: normal;
    } */
}


@media screen and (max-width: 1050px) {
    
    #grid-catalogo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 1rem 2rem;
    }

    .container-catalogo{
        display: block;
        width: 100%;
        min-width: 770px;
    }

    .container-catalogo hr{
        display: none;
    }

    /* ---------- Filtro do Catalogo ---------- */
    .filtro-catalogo{
        display: none;
    }

    /* ---------- Lista de Livro do Catalogo ---------- */
    
    .capa-livro{
        object-fit: cover;
        align-self: center;
        max-width: calc(247px / 2) ;
        max-height: calc(357px / 2) ;
    }

    .titulo-livro, .autor-livro{
        font-size: 1rem;
    }

}