.main-catalogo h1{
    padding-top: .5rem;
    margin-bottom: .5rem;

    font-family: var(--fonteEstilizada);
    font-size: 3rem;
    color: var(--corPrincipal);
}

.container-catalogo{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;
}

/* ---------- Filtro do Catalogo ---------- */

.filtro-catalogo{
    display: flex;
    flex-direction: column;

    margin: auto 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: left;
}

.filtro-catalogo h3{
    padding: .3rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    border-radius: .3rem;
    color: var(--corBranco);
    background-color: var(--corPrincipal);
}

.filtro-catalogo aside{
    display: flex;
    flex-direction: column;

    list-style: none;
    text-align: left;
}

.filtro-catalogo h5{
    font-size: 1rem;
    font-weight: normal;
}

.filtro-catalogo h3{
    text-align: center;
}

.filtro-catalogo hr{
    margin: .3rem 0rem;
}

input[type="checkbox"] {
    accent-color: var(--corPrincipal);

    width: .5rem;
    height: .5rem;
    margin-right: .2rem;

    font-size: 2rem;

    transition: .5s ease;
}

.span-categoria{
    font-size: 1.2rem;
    font-weight: 300;
}

#filtro-catalogo{
    margin-bottom: 1rem;
}

/* ---------- Lista de Livro do Catalogo ---------- */

#grid-catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    padding: 1rem 2rem;
}

.capa-livro{
    border-radius: 1rem;
    align-self: center;
    
    max-width: 247px;
    max-height: 357px;
}

.item-grid{
    display: flex;
    flex-direction: column;
    max-height: 35rem;
    padding: 1rem;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;
}

.item-grid:hover{
    border: 1px solid var(--corPrincipal);
    transform: translateY(-5px);
}

.titulo-livro {
    padding-top: 1rem;
    padding-bottom: .1rem;
    
    font-size: 120%;

    display: -webkit-box;
    line-clamp: 2;   /* limite de linhas */
    -webkit-line-clamp: 2;   /* limite de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;

    line-height: 1.3;
}

.autor-livro{
    padding-bottom: 1rem;

    font-size: 1rem;
    font-weight: normal;
}

.btn-detalhes{
    margin-top: auto;
    width: 100%;
}


/* ---------- MOBILE OCULTO ---------- */
.mobile-hr{
    display: none;
}

.mobile-content{
    display: flex;
    flex-direction: column;
    flex: 1;                 /* ocupa o espaço restante do card */
}

.mobile-detalhes{
    display: none;
}


/* --------------- RESPONSIVIDADE TAMANHOS ---------------- */
/* ----------------- 1500px 1050px 850px -------------------*/


/* -------------------- RESPONSIVIDADE 1500px -------------------- */

@media (max-width: 1500px){
    #grid-catalogo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        padding: 1rem 2rem;
    }

    .capa-livro{
        align-self: center;
        max-width: calc(247px / 1.3) ;
        max-height: calc(357px / 1.3) ;
    }
}

/* -------------------- RESPONSIVIDADE 1050px -------------------- */
@media (max-width: 1050px) {
    #grid-catalogo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 1rem 2rem;
    }

    .container-catalogo{
        display: block;
        width: 100%;
    }

    .container-catalogo hr{
        display: none;
    }

    /* ---------- Filtro do Catalogo ---------- */
    .filtro-catalogo{
        display: none;
    }

    /* ---------- Lista de Livro do Catalogo ---------- */
    
    .capa-livro{
        object-fit: cover;
        align-self: center;
        max-width: calc(247px / 1.5) ;
        max-height: calc(357px / 1.5) ;
    }

    .titulo-livro{
        font-size: 1rem;
    }

    .autor-livro{
        font-size: .8rem;
    }

    .mobile-detalhes{
        display: none;
    }

    .btn-detalhes{
        font-size: 1rem;
    }
}

/* -------------------- RESPONSIVIDADE 850px -------------------- */
@media (max-width: 850px){
    .main-catalogo{
        min-width: 390px;
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .container-catalogo{
        max-width: 100vw;
        display: flex;

        border: none;
        box-shadow: none;
    }

    .container-catalogo .pc-hr{
        display: none;
    }

    .filtro-catalogo{
        display: none;
    }

    .capa-livro{
        width: 100%;
        gap: 1rem;
    }

    #grid-catalogo{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        margin: auto;
        padding: 0;
    }

    .item-grid{
        max-width: 100vw;

        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0 1rem;

        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .item-grid:hover{
        border: 0;
        transform: translateY(0px);
    }

    .titulo-livro {
        display: -webkit-box;
        -webkit-line-clamp: 2;   /* limite de linhas */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        font-size: 1.4rem;
        line-height: 1.3;
        height: calc(1.3em * 2); /* garante corte correto */
    }

/* ---------- Mostra no Mobile ---------- */
    
    .mobile-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        text-align: left;
    }

    .mobile-detalhes{
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .mobile-detalhes span{
        font-weight: normal;
    }

    .mobile-hr{
        display: flex;
    }

    /* ---------- Oculta no Mobile ---------- */
    .autor-livro{
        display: none;
    }
}