.section-principal {
    flex-direction: column;
}

.menu-perfil-user {
    width: auto;
}

.filtro-mobile {
    display: none;
}

.barra-ferramentas {
    display: flex;
    width: 100%;
    gap: 1.3rem;

    box-sizing: border-box;
    box-shadow: var(--sombra);

    border: var(--borda);
    border-radius: 2rem;
    
    font-size: 1.1rem;
    font-weight: bold;

    padding: .7em 1rem;
}

.barra-ferramentas-input{
    padding: .3rem;
    border: var(--borda);
    border-radius: 2rem;

    font-weight: 500;
    background-color: var(--corCinzaClaro);
    color: var(--corCinzaEscuro);
}

.barra-ferramentas-input:hover{
    border-color: var(--corPrincipal); 
    cursor: pointer;
}

#btn-limpa-filtro{
    width: max-content;
    
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
}

#btn-limpa-filtro:hover{
    color: var(--corPrincipal);
}