main{
    margin-top: 6.5rem;
}

#janela-add-container{
    position: absolute;
    z-index: 1000;
    top: 10%;
    
    align-items: center;
    justify-content: center;
}

#btn-fechar-janela{
    align-self: end;
    background: none;
    border: none;

    width: 2rem;
    height: 2rem;

    margin-right: 1.8rem;
    margin-top: 1.8rem;

    cursor: pointer;
}

#btn-fechar-janela img{
    width: 1.5rem;
    height: 1.5rem;
}


.section-principal {
    flex-direction: column;
    width: 80%;
}

.menu-perfil-user {
    width: auto;
}

#dropdown-content {
    width: auto;
    display: flex;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;
}

#form-filtro-estante {
    gap: .8rem;
    justify-content: end;
}

#barra-busca-estante{
    box-shadow: var(--sombra);

    padding-right: .5rem;
    padding-left: .5rem;

    cursor: text;
}

#btn-adicionar-livro, #btn-editar-estante {
    padding: .3rem 1.3rem;
}

#btn-adicionar-livro {
    box-shadow: var(--sombra);

    margin: .8rem;
    padding-bottom: .4rem;

    font-size: .9rem;
}

#btn-editar-estante{
    padding: .3rem 0rem;
    font-size: 1rem;
}

.span-btn-adicionar-texto{
    font-size: 1rem;
}

.span-btn-adicionar-icon{
    display: none;
}

.container-btn-img{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.4rem;
    height: 1.3rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-img-config {
    width: 90%;
    height: 90%;

    margin-top: 10%;
}

#btn-mostrar-filtro {
    display: none;
}

#grid-catalogo {
    grid-template-columns: repeat(7, 1fr);
    row-gap: 1.5rem;
}


.teste-edit {
    display: none;

    color: var(--corCinzaEscuro);
    background-color: var(--corBranco);
    border: 1.5px solid var(--corCinzaEscuro);
    border-radius: 50%;

    width: 2rem;
    height: 2rem;

    align-self: flex-end;
    position: absolute;

    margin-right: .8rem;
    margin-top: .8rem;
}

@media (max-width: 1500px){
    #grid-catalogo{
        grid-template-columns: repeat(5, 1fr);
    }

    .capa-livro{
        align-self: center;

        min-width: calc(120px / 1.3) ;
        max-height: calc(200px / 1.3) ;
    }
}

@media (max-width: 1200px){
    #grid-catalogo {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1080px) {
    #grid-catalogo {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 600px){
    main {
        margin-top: 1rem;
    }

    .section-principal {
        width: 100%;
    }

    #btn-mostrar-filtro {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 100;

        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: var(--sombra);

        border-radius: 50%;
        margin-left: auto;

        width: 2.5rem;
        height: 2.5rem;
        padding: .5rem;

        margin-right: 1.5rem;
        margin-bottom: 5rem;
    }

    .icon-img-config{
        width: 100%;
        height: 100%;
    }

    #grid-catalogo {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5rem;
    }

    #dropdown-content {
        width: 100%;

        box-shadow: none;
        border: none;
        border-radius: 0;
    }

    .conteudo-oculto-mobile {
        pointer-events: none;
        display: none;
    }

    .span-btn-adicionar-texto{
        font-size: 1rem;
        display: none;
    }

    .span-btn-adicionar-icon{
        display: block;
    }

    #btn-adicionar-livro{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 100;

        width: 2.5rem;
        height: 2.5rem;

        background-color: var(--corPrincipal);
        border-radius: 50%;
        box-shadow: var(--sombra);
        box-sizing: content-box;

        padding: .5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    #btn-adicionar-livro:hover{
        background-color: var(--corBranco);
    }

    .span-btn-adicionar-icon, .span-btn-filtro-icon, .span-btn-filtro-x{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        height: 100%;
        width: 100%;
    }

    /* BOTÃO DE ADICIONAR */
    .span-btn-adicionar-icon{
        background-image: url(../img/Icon-Adicionar-Livro-Branco.png);
    }

    .span-btn-adicionar-icon:hover{
        background-image: url(../img/Icon-Adicionar-Livro-Verde.png);
    }

    .span-btn-adicionar-livro{
        display: none;
    }

    /* BOTÃO DE FILTRO */
    .span-btn-filtro-icon{
        background-image: url(../img/Icon-Filtro-Cinza.png);
    }

    .span-btn-filtro-icon:hover{
        background-image: url(../img/Icon-Filtro-Verde.png);
    }

    

    /* BOTÃO DE FILTRO com X */
    .span-btn-filtro-x{
        background-image: url(../img/Icon-Filtro-Cinza-X.png);
    }
    
    .span-btn-filtro-x:hover{
        background-image: url(../img/Icon-Filtro-Verde-X.png);
    }


    #form-filtro-estante {
        padding-top: 1rem;
        padding-bottom: 2rem;

        border: none;
        box-shadow: none;
    }

    #btn-editar-estante {
        font-size: .8rem;
    }
}

