.section-principal {
    flex-direction: column;
    width: 60%;
}

.menu-perfil-user {
    width: auto;
}

#dropdown-content {
    width: auto;
}

.barra-ferramentas {
    gap: .5rem;
}

#barra-busca-estante{
    padding: .3rem .5rem;
    margin-left: auto;
    
    padding-left: .5rem;
    cursor: text;
}

#btn-adicionar-livro, #mostrar-filtro-estante {
    padding: .3rem 1.3rem;
    box-shadow: none;
}

#btn-mostrar-filtro {
    border-radius: 50%;
    margin-left: auto;

    width: 1rem;
    height: 1rem;
}

#img-filtro-estante {
    width: 100%;
    height: 100%;

    margin-top: 5%;
    border-radius: 100%;
}

#grid-catalogo {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1.5rem;
}