.section-principal {
    flex-direction: column;
}

.menu-perfil-user {
    width: auto;
}

#dropdown-content {
    width: auto;
}

#btn-adicionar-livro, #mostrar-filtro-estante {
    padding: .3rem 1rem;
}

