.footer {
    /* Dimensionamento */
    width: 100%;

    /* Alinhamento */
    padding-top: 25px;
    text-align: center;
    margin-top: 1rem;

    /* Decorativo */
    background-color: var(--corPrincipal);
    color: var(--corBranco);
}

.footer a{
    color: var(--corBranco);
    text-decoration: none;
}

.footer h4{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.divisoes{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.footer-container{
    display: flex;
    flex-direction: row;
    gap: 8rem;

    padding-bottom: 2rem;
}

.footer-lista{
    width: 12rem;
    text-align: left;
}

.footer-lista ul{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    list-style: none;
}

.footer-lista li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-logo-livro, .footer-logo-r{
    width: 20rem;
    height: 20rem;
    overflow: hidden;
}

.footer-logo-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-livro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img{
    height: 80%;
}

.RetroReads-copyright{
    text-align: center;
}

.RetroReads-copyright h4{
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* -------------------- Responsividade para Tablets -------------------- */

@media (max-width: 900px) {

    .footer-logo-livro, .footer-logo-r{
        display: none;
    }

    .footer-container{
       gap: 0rem;
    }

    .footer-lista{
        text-align: center;
    }
}