@import url('./standard.css');

.header {
    /* Dimensionamento */
    width: 100%;

    /* Alinhamento */
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10px;

    /* Decorativo */
    background-color: var(--corBranco);

    /* Posicionamento */
    z-index: 999;
    top: 0px;
}

.alinhamento{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

    margin-right: 5%;
    margin-left: 5%;

    margin-bottom: 20px;
}

#logo-escrito{
    width: 13em;
}

#logo-escrito:hover{
    cursor: pointer;
}

.perfil-mobile, .logo-container{
    display: none;
}

.busca{
    width: 30%;
    display: flex;
    align-items: center;

    border: 1px solid var(--corCinzaEscuro);
    border-radius: 2em;
    background-color: var(--corCinzaClaro);
}

#barra-busca{
    display: flex;
    width: 100%;
    padding: 0.5em 1em;

    border: 1px solid var(--corCinzaClaro);
    border-radius: 2em;
    background: none;

    font-size: 1em;
}

#barra-busca::placeholder{
    text-align: left;
}

#barra-busca:focus{
    outline: none;
}

.btn-buscar {
    /* Dimensionando */
    display: flex;
    padding: 10px 12px;

    /* Cores */
    background-color: var(--corPrincipal);
    color: var(--corBranco);

    /* Borda */
    border: 1px solid var(--corPrincipal);
    border-radius: 0em 2em 2em  0em;

    font-size: 1em;

    transition: .5s ease;
}

.btn-buscar:hover{
    text-decoration: none;
    background-color: #fff;
    border: 1px solid var(--corPrincipal);
    color: var(--corPrincipal);
    cursor: pointer;
}

.usuario{
    display: flex;
    width: auto;
    gap: 1em;

    font-size: 1.2em;
    font-weight: bold;
}

.login-link {
    text-decoration: none;
    color: var(--Preto);
    align-content: center;

    transition: .5s ease;
}

.login-link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--corPrincipal);
}

.cadastro-link {
    /* Dimensionamento */
    display: inline-block;
    padding: 0.5em 1.3em;

    /* Cores */
    background-color: var(--corPrincipal);
    color: var(--corBranco);

    /* Bordas */
    border: 1px solid var(--corPrincipal);
    border-radius: 2em;

    /* Estilos Texto */
    text-wrap: nowrap;
    text-decoration: none;

    transition: .5s ease;
}

.cadastro-link:hover {
    background-color: var(--corBranco);
    border: 1px solid var(--corPrincipal);
    color: var(--corPrincipal);
}



/* ---------- Header Simples ---------- */

.header-simples{
    /* Dimensionamento */
    width: 100%;

    /* Alinhamento */
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 10px;

    /* Decorativo */
    background-color: var(--corBranco);
    box-shadow: var(--sombra);

    /* Posicionamento */
    z-index: 999;
    top: 0px;
}

.container-header-simples{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100%;

    margin-left: 10%;
    margin-right: 10%;
}

#logo-r, #user-perfil{
    height: 3em;
}



/* ---------- Barra de Navegação ---------- */

.navbar{
    display: inline-block;
    width: 100%;
    padding: .7em 0px;

    background-color: var(--corPrincipal);
    box-shadow: var(--sombra);

    margin-bottom: 1em;
}
.lista-opcoes {
    display: flex;
    justify-content: center;

    list-style-type: none;
}
.opcoes {
    display: inline;
}
.opcoes a {
    color: var(--corBranco);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: .7em 2em;

    transition: .5s ease;
}
.opcoes a:hover {
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}

hr{
    color: var(--corCinzaClaro);
    border-style: solid;
}


/* -------------------- Responsividade para Tablets -------------------- */

@media (min-width: 900px) {
    /* ---------- Responsividade HeaderHome ---------- */
    .alinhamento{
        margin-right: 0em;
        margin-left: 0em;
        gap: 10%;
    }

    /* ---------- Responsividade HeaderSimples ---------- */
    .container-header-simples{
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media (max-width: 900px) {
    /* ---------- Responsividade HeaderHome ---------- */
    .alinhamento{
        margin-right: 5%;
        margin-left: 5%;
        gap: 10%;
    }

    .logo-container{
        display: flex;
    }

    #logo-mobile{
        display: flex;
        width: 2em;
    }

    #logo-escrito{
        display: none;
    }

    .busca{
        width: 80%;
    }
    
    .perfil-mobile{
        display: flex;
        width: 5em;
    }

    #perfil{
        width: 80%;
    }

    .usuario{
        display: none;
    }

    /* ---------- Responsividade HeaderSimples ---------- */
    .container-header-simples{
        margin-left: 10%;
        margin-right: 10%;
    }

}