.header-home {
    /* Dimensionamento */
    display: block;
    width: 100%;

    /* Alinhamento */
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10px;

    /* Decorativo */
    background-color: var(--corBranco);

    /* Posicionamento */
    z-index: 999;
    top: 0px;
}

.alinhamento{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

    margin-right: 5%;
    margin-left: 5%;

    margin-bottom: 20px;
}

#logo-escrito{
    width: 15rem;
    box-sizing: border-box;
}

#logo-escrito:hover{
    cursor: pointer;
}

.perfil-mobile, .logo-container{
    display: none;
}

.busca{
    width: 30%;
    display: flex;
    align-items: center;

    border: 1px solid var(--corCinzaMedio);
    border-radius: 2rem;
    background-color: var(--corCinzaClaro);
}

#barra-busca{
    display: flex;
    width: 100%;
    padding: 0.5em 1rem;

    border: 1px solid var(--corCinzaClaro);
    border-radius: 2rem;
    background: none;

    font-size: 1rem;
}

#barra-busca::placeholder{
    text-align: left;
}

#barra-busca:focus{
    outline: none;
}

.btn-buscar {
    /* Dimensionando */
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;

    /* Cores */
    background-color: var(--corPrincipal);
    color: var(--corBranco);

    /* Borda */
    border: 1px solid var(--corPrincipal);
    border-radius: 0em 2em 2em  0rem;

    font-size: 1rem;
}

.btn-buscar:hover{
    text-decoration: none;
    background-color: #fff;
    border: 1px solid var(--corPrincipal);
    color: var(--corPrincipal);
    cursor: pointer;
}

.usuario{
    display: flex;
    width: auto;
    gap: 1rem;

    font-size: 1.2rem;
    font-weight: bold;
}

.login-link {
    text-decoration: none;
    color: var(--Preto);
    align-content: center;

    transition: .5s ease;
}

.login-link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--corPrincipal);
}

.cadastro-link {
    /* Dimensionamento */
    display: inline-block;
    padding: 0.5em 1.3rem;

    /* Cores */
    background-color: var(--corPrincipal);
    color: var(--corBranco);

    /* Bordas */
    border: 1px solid var(--corPrincipal);
    border-radius: 2rem;

    /* Estilos Texto */
    text-wrap: nowrap;
    text-decoration: none;

    transition: .5s ease;
}

.cadastro-link:hover {
    background-color: var(--corBranco);
    border: 1px solid var(--corPrincipal);
    color: var(--corPrincipal);
}

/* ---------- Oculta o HeaderMobile ---------- */
.header-mobile{
    display: none;
}

/* ---------- Header Simples ---------- */

.header-simples{
    /* Dimensionamento */
    width: 100%;

    /* Alinhamento */
    padding: .5rem 0rem;
    margin-bottom: 2rem;

    /* Decorativo */
    background-color: var(--corBranco);
    box-shadow: var(--sombra);

    /* Posicionamento */
    z-index: 999;
    top: 0px;
}

.container-header-simples{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100%;

    margin-left: 10%;
    margin-right: 10%;
}

.logo-r, .user-perfil{
    height: 3rem;
    text-decoration: none;
}



/* ---------- Barra de Navegação ---------- */

.navbar{
    padding: .7em 0px;

    background-color: var(--corPrincipal);
    box-shadow: var(--sombra);
}
.lista-opcoes {
    display: flex;
    justify-content: center;

    list-style-type: none;
}
.opcoes {
    display: inline;
}
.opcoes a {
    color: var(--corBranco);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .7em 2rem;

    transition: .5s ease;
}
.opcoes a:hover {
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}

hr{
    color: var(--corCinzaClaro);
    border-style: solid;
}


/* --------------- RESPONSIVIDADE TAMANHOS ---------------- */
/* ----------------- 1500px 1050px 850px -------------------*/

/* -------------------- Responsividade para Mobiles -------------------- */

@media (min-width: 900px) {
    /* ---------- Responsividade HeaderHome ---------- */
    .alinhamento{
        margin-right: 0rem;
        margin-left: 0rem;
        gap: 10%;
    }

    /* ---------- Responsividade HeaderSimples ---------- */
    .container-header-simples{
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media (max-width: 900px) {
    /* ---------- Responsividade HeaderHome ---------- */
    .alinhamento{
        margin-right: 5%;
        margin-left: 5%;
        gap: 10%;
    }

    .logo-container{
        display: flex;
    }

    #logo-mobile{
        display: flex;
        width: 2rem;
    }

    #logo-escrito{
        display: none;
    }

    .busca{
        width: 80%;
    }
    
    .perfil-mobile{
        display: flex;
        width: 5rem;
    }

    #perfil{
        width: 80%;
    }

    .usuario{
        display: none;
    }

    /* ---------- Responsividade HeaderSimples ---------- */
    .container-header-simples{
        margin-left: 10%;
        margin-right: 10%;
    }

}

/* -------------------- HeaderMobile -------------------- */
@media (max-width: 600px){
    .header-home{
        display: none;
    }

    .header-mobile{
        width: 100vw;
        display: contents;
    }

    .container-header-mobile{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 80%;

        position: relative;
        z-index: 10000;

        padding: 1rem;
        justify-content: center;

        box-sizing: border-box;
        box-shadow: var(--sombra);
    }

    #btn-menu{
        border: 0;
        background-color: transparent;
        color: var(--corPrincipal);
        
        font-size: 2rem;
        cursor: pointer;
    }

    #nav-mobile{
        width: 50vw;
        height: 100%;
        flex-direction: column;
        gap: 2rem;
        justify-self: end;

        padding: 0 2rem;
        padding-top: 2rem;

        font-size: 2rem;
        box-sizing: border-box;
        box-shadow: var(--sombra);
        background-color: var(--corBranco);
        cursor: pointer;

        position: absolute;
        z-index: 1000;
    }

    #nav-mobile a{
        text-decoration: none;
        color: var(--corPrincipal);
        font-family: var(--fonteComum);
        font-variant-caps: all-small-caps;
        font-weight: 600;
    }

    .ocultarElemento{
        display: none;
        position: fixed;
    }

    .revelarElemento{
        display: flex;
    }
}

