.banners{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3.5em;

    color: var(--corPreto);
}

.banners img{
    width: 60%;
}

.banner-2 h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

h1{
    font-family: var(--fonteEstilizada);
    font-size: 3.5em;
}

h3{
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

h2{
    font-family: var(--fonteEstilizada);
    font-size: 2em;

    color: var(--corPrincipal);
}

p{
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.container-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

.container-banner img{
    max-width: fit-content;
}

.container-banner p{
    writing-mode: vertical-rl;
    min-width: max-content;

    font-weight: bold;
    color: var(--corPrincipal);
}


/* ---------- Animação de Carregamento ---------- */
.tela-carregamento{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
}

.icone-carregamento{
    /* Decoração do Circulo */
    border: 4px solid var(--corCinzaEscuro);
    border-top-color: var(--corPrincipal);
    border-radius: 50%;
    height: 50px;
    width: 50px;

    /* Animação: */
    animation: is-rotating 1.5s infinite;
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}