.main-home{
    justify-content: center;
    align-items: center;
    background-color: transparent;

    margin-top: 7.2rem;
}

.main-home img{
    width: 100%;
    height: auto;
}

.banner-home{
    padding-bottom: 5rem;
}

.banner-home > img{
    width: 100%;
    height: auto;

    box-shadow: var(--sombra);
}




/* ------------- Carrosssel de Banners ------------- */

h1{
  text-align: center;
  font-size: 1.7rem;
}

ul.banner-carrossel{
  width: 100vw;
  height: 300px;
  padding: 20px;
  display: flex;
  gap: 4vw;
}
li.banner-item{
  list-style-type: none;

  background-color: #eeeeee;
  border: 1px solid #dddddd;

  flex: 0 0 100%;
}

li.banner-item:nth-child(even){
  background-color: cyan;
}
ul.banner-carrossel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
li.banner-item{
  scroll-snap-align: center;
}
ul.banner-carrossel::scroll-button(*){
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

ul.banner-carrossel::scroll-button(*):hover,
ul.banner-carrossel::scroll-button(*):focus{
  opacity: 1;
}

ul.banner-carrossel::scroll-button(*):active{
  translate: 1px 1px;
}

ul.banner-carrossel::scroll-button(*):disabled{
  opacity: 0.2;
  cursor: unset;
}
ul.banner-carrossel::scroll-button(left){
  content: "◄" / "Previous";
}

ul.banner-carrossel::scroll-button(right){
  content: "►" / "Next";
}
ul.banner-carrossel{
  anchor-name: --my-carousel;
}

ul.banner-carrossel::scroll-button(*){
  position: absolute;
  position-anchor: --my-carousel;
}
ul.banner-carrossel::scroll-button(left){
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) + 13px);
}

ul.banner-carrossel::scroll-button(right){
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) + 13px);
}
ul.banner-carrossel  {
  scroll-marker-group: after;
}
ul.banner-carrossel::scroll-marker-group{
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;
}
li.banner-item::scroll-marker{
  content: attr(data-accName);
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 16px;
}
li.banner-item::scroll-marker:target-current{
  background-color: black;
}





/* ------------- Mobile ------------- */

@media (max-width: 900px){
    .banner-home > img{
        margin-top: 3.5rem;
        scale: 1.5;
    }
}

@media (max-width: 768px) {
    main.main-home{
        margin-top: 0rem;
    }

    .banner-home > img{
        margin-top: 3.5rem;
        scale: 2;
    }
}

