.main-home{
    justify-content: center;
    align-items: center;
    background-color: transparent;

    margin-top: 7.2rem;
}

.main-home img {
    width: 200px;
    height: auto;
}

.banner-home{
    padding-bottom: 5rem;
}

.banner-home > img{
    width: 100%;
    height: auto;

    box-shadow: var(--sombra);
}



/* ------------- Mobile ------------- */

@media (max-width: 768px) {

    main.main-home{
        margin-top: 0rem;
    }

    .banner-home > img{
        margin-top: 3.5rem;
        scale: 2;
    }
}

