.main-home{
    justify-content: center;
    align-items: center;
    background-color: transparent;

    margin-top: 7.3rem;
}

.main-home img {
    width: 200px;
    height: auto;
}

.banner-home{
    width: 100%;
    height: 300px;


    background-color: red;
}