.main-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 5em;
    margin-bottom: 5em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    padding: 3em;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 1em;
}

.container h2{
    color: var(--corPrincipal);
    padding-top: 0.5em;
    padding-bottom: 2em;

    text-align: center;
    font-size: 2.5em;
    font-family: var(--fonteEstilizada);
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.3em;
}

.container input{
    width: 20em;
    padding: 1em;

    font-size: 1em;

    background-color: var(--corCinzaClaro);
    border: var(--borda);
    border-radius: 2em;
}

.container p{
    margin-top: 1.3em;
    margin-bottom: 1em;
}

.container a{
    text-decoration: none;
    font-weight: bold;
    color: var(--corPrincipal);
}

.container a:hover{
    text-decoration: underline;
}

#btn-logar{
    margin-top: 2em;
    padding: .5em;
    padding-left: 4em;
    padding-right: 4em;

    font-size: 1.3em;

    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
    border-radius: 1em;
}
#btn-logar:hover{
    transition: .5s;
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}