main{
    margin-top: 5%;
}

.container-perfil-user{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    margin: 0px 5%;
}

/* -------------------- Menu do Usuário -------------------- */

.menu-perfil-user{
    display: flex;
    flex-direction: column;

    width: 15%;
    margin-right: 1rem;
}

.area-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.area-usuario > img{
    margin-bottom: 1rem;
}

#user-nome{
    color: var(--corCinzaEscuro);
    font-weight: 700;
    font-size: 1.3rem;
}

#user-plano{
    color: var(--corPrincipal);
    font-weight: 400;
    font-size: 1rem;
}

.menu-secoes{
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.btn-secao{
    font-size: 1.3rem;
    text-decoration: none;
    text-align: start;
    
    background: none;
    border: none;

    color: var(--corCinzaEscuro);
    padding: 0.5rem 1rem;

    cursor: pointer;
}

.btn-secao:hover{
    color: var(--corPrincipal);
    border-left: 5px solid var(--corPrincipal);
    transition: .1s;
}

/* ------------------- Área de Dados ------------------- */
.section-principal{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    margin: 2rem;
    margin-left: 1rem;
}

.info-edit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);
}

.info-edit > h2{
    color: var(--corCinzaEscuro);
    margin-left: .5rem;
    font-weight: 400;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 0rem;
}

.dados-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 5rem;
    padding: 2.5rem;
    padding-top: 2rem;
}

.dados-grid-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.dados-grid-item > label{
    color: var(--corCinzaEscuro);
    padding-left: .3rem;

    inline-size: max-content;
}

.dados-input, .endereco-input{
    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);

    color: var(--corCinzaEscuro);

    font-size: 1rem;
    padding: .5rem 1rem;
}

.barra-destaque{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    justify-content: end;
    margin-right: 2.5rem;
}

.btn-editar{
    width: 25%;
    margin-bottom: 2rem;
}

.aba-ativa{
    color: var(--corPrincipal);
}

.icons-perfil-menu-mobile{
    display: none;
}

.textos-perfil-menu{
    display: block;
}

/* ----------------- Dados inalteráveis ----------------- */

/* Desabilitar edição do CPF */
#dados-user-cpf{
    pointer-events: none;
    color: var(--corCinzaMedio);
    background-color: var(--corCinzaClaro);
}

/* Desabilitar edição da Assinatura */
#dados-user-assinatura{
    pointer-events: none;
    color: var(--corCinzaMedio);
    background-color: var(--corCinzaClaro);
}

/* Desabilitar edição do Email */
#dados-user-email{
    pointer-events: none;
    color: var(--corCinzaMedio);
    background-color: var(--corCinzaClaro);
}


/* ----------------- RESPONSIVIDADE ----------------- */

@media (max-width: 1500px) {
    .container-perfil-user{
        margin: 0px 10%;
    }
}

@media (max-width: 1080px) {
    .section-principal{
        flex-direction: column;
    }

    .menu-perfil-user {
        width: unset;
    }
}

@media (max-width: 800px) {
    .container-perfil-user{
        flex-direction: column;
        align-items: center;

        gap: .3rem;
    }

    .menu-perfil-user{
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 0rem;

        margin-right: 0rem;
    }

    .menu-secoes{
        pointer-events: auto;

        display: flex;
        flex-direction: row;

        width: 100vw;
        justify-content: center;
    }

    .menu-secoes > .btn-secao{
        width: 100%;
        text-align: center;
        font-size: 1rem;

        padding: .3rem 1rem;
    }
    
    .btn-secao{
        color: var(--corPrincipal);
        background-color: var(--corPrincipalTransparente);

        border: var(--borda);
        border-color: var(--corPrincipal);
        border-radius: 1rem 1rem 0rem 0rem;
        border-bottom: 2px solid var(--corPrincipal);
    }

    .btn-secao:hover{
        color: var(--corPrincipal);
        background-color: var(--corBranco);

        border: 1px solid var(--corPrincipal);
        border-bottom-width: 2px;
    }

    .btn-menu-ativo, .btn-menu-ativo:hover{
        background-color: var(--corBranco);
        border-bottom: 2px solid var(--corBranco);
    }

    .hr-perfil-menu {
        width: 15%;
        margin-top: auto;

        color: var(--corPrincipal);
    }

    .hr-perfil-mobile{
        display: block;

        width: 90%;

        align-self: center;
        margin-top: .3rem;
    }

    .hr-secoes{
        display: none;
    }

    .textos-perfil-menu{
        display: none;
    }

    .icons-perfil-menu-mobile{
        display: flex;
        height: 2.5rem;
        justify-content: center;
    }

    .section-principal{
        margin: 0rem;
        gap: 1rem;
        width: 100vw;
    }

    #form-dados-user, #form-endereco-user{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dados-grid{
        grid-template-columns: repeat(2, 1fr);

        gap: .5rem;
        column-gap: 2rem;

        padding: 0rem;
        margin-top: 2rem;

        width: 85vw;
    }

    .dados-grid-item {
        width: 100%;
    }

    .dados-input, .endereco-input{
        margin-bottom: 1rem;
    }

    .barra-destaque{
        gap: 2rem;
        justify-content: center;
        margin-right: auto;
    }

    .btn-editar {
        width: unset;
        margin-top: 1rem;

        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2rem;
    }

    .info-edit{
        width: 100vw;

        border: none;
        border-radius: 0rem;

        margin: 1rem 0rem;
    }

    .info-edit > h2 {
        margin-left: 2rem;
        padding: 0rem;
    }

}

@media (max-width: 350px){
    .area-usuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    #dados-user-email {
        font-size: .9rem;
    }
}