main{
    margin-top: 0rem;
}

.container-perfil-user{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

/* -------------------- Menu do Usuário -------------------- */

.menu-perfil-user{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 15%;
}

.area-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-usuario > img{
    margin-bottom: 1rem;
}

#user-nome{
    color: var(--corCinzaEscuro);
    font-weight: 700;
    font-size: 1.3rem;
}

#user-plano{
    color: var(--corPrincipal);
    font-weight: 400;
    font-size: 1rem;
}

.menu-secoes{
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.menu-secoes > .btn-secao{
    font-size: 1.3rem;
    text-decoration: none;

    color: var(--corCinzaEscuro);
    padding: 0.5rem 1rem;

    cursor: pointer;
}

.menu-secoes > .btn-secao:hover{
    color: var(--corPrincipal);
    border-left: 5px solid var(--corPrincipal);
    transition: .1s;
}

/* -------------------- Área de Dados -------------------- */
.section-principal{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.info-edit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);
}

.info-edit > h2{
    color: var(--corCinzaEscuro);
    margin-left: .5rem;
    font-weight: 400;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 0rem;
}

.dados-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 5rem;
    padding: 2.5rem;
    padding-top: 2rem;
}

.dados-grid-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.dados-grid-item > label{
    color: var(--corCinzaEscuro);
    padding-left: .3rem;
}

.dados-input, .endereco-input{
    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);

    color: var(--corCinzaEscuro);

    font-size: 1rem;
    padding: .5rem 1rem;
}

.barra-destaque{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    justify-content: end;
    margin-right: 2.5rem;
}

.btn-editar{
    width: 25%;
    padding: .5rem 1rem;

    margin-bottom: 2rem;
}

.aba-ativa{
    color: var(--corPrincipal);
}

/* ----------------- Dados inalteráveis ----------------- */

/* Desabilitar edição do CPF */
#dados-user-cpf{
    pointer-events: none;
    color: var(--corCinzaMedio);
    background-color: var(--corCinzaClaro);
}

/* Desabilitar edição da Assinatura */
#dados-user-assinatura{
    pointer-events: none;
    color: var(--corCinzaMedio);
    background-color: var(--corCinzaClaro);
}

/* Desabilitar edição do Email */
#dados-user-email{
    pointer-events: none;
    color: var(--corCinzaMedio);
    background-color: var(--corCinzaClaro);
}


/* ----------------- RESPONSIVIDADE ----------------- */

@media (max-width: 1080px) {
    .section-principal{
        flex-direction: column;
    }

    .menu-perfil-user {
        width: unset;
    }
}

@media (max-width: 800px) {
    .container-perfil-user{
        gap: 1rem;
    }

    .section-principal{
        margin-left: .5rem;
    }

    .dados-grid{
        column-gap: 2rem;
    }

    .dados-grid-item {
        padding-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .container-perfil-user{
        flex-direction: column;
        align-items: center;
    }

    .menu-secoes{
        pointer-events: none;
        display: none;
    }

    .section-principal{
        margin: 0rem;
        gap: 5rem;
    }

    .dados-grid{
        width: 80vw;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .barra-destaque{
        gap: 5rem;
        justify-content: center;
        margin-right: 1.5rem;
    }

    .btn-editar {
        width: 30%;
    }

    .info-edit{
        width: 100vw;
        border-radius: 0rem;
        align-items: center;
    }

    .info-edit > h2 {
        margin-left: 0rem;
    }
}
