.container-perfil-user{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    width: 80%;
}

/* -------------------- Menu do Usuário -------------------- */

.menu-perfil-user{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 15%;
}

.area-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-usuario > img{
    margin-bottom: 1rem;
}

#user-nome{
    color: var(--corCinzaEscuro);
    font-weight: 700;
    font-size: 1.3rem;
}

#user-plano{
    color: var(--corPrincipal);
    font-weight: 400;
    font-size: 1rem;
}

.menu-secoes{
    display: flex;
    flex-direction: column;
}

.menu-secoes > a{
    text-decoration: none;
    color: var(--corCinzaEscuro);
    padding: 0.5rem 1rem;
}

.menu-secoes > a:hover{
    color: var(--corPrincipal);
    border-left: 4px solid var(--corPrincipal);
    transition: .1s;
}

/* -------------------- Área de Dados -------------------- */
.dados-mutaveis{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-left: 10%;
    margin-top: 2rem;
}

.info-edit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);
}

.info-edit > h2{
    color: var(--corCinzaEscuro);
    margin-left: .5rem;
    font-weight: 400;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 0rem;
}

.dados-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 5rem;
    padding: 2.5rem;
    padding-top: 2rem;
}

.dados-grid-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.dados-grid-item > label{
    color: var(--corCinzaEscuro);
    padding-left: .3rem;
}

.dados-grid-item > input{
    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);

    background-color: var(--corCinzaClaro);
    color: var(--corCinzaEscuro);

    font-size: 1rem;
    padding: .5rem 1rem;
    pointer-events: none;
}

.barra-destaque{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    justify-content: end;
    padding-right: 3rem;
}

.btn-editar{
    width: 20%;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
}

.btn-modo-editar{
    display: none;
}