.container-perfil-user{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* -------------------- Menu do Usuário -------------------- */

.menu-perfil-user{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    margin-right: 0;
}

.area-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-usuario > img{
    margin-bottom: 1rem;
}

#nome-usuário{
    color: var(--corCinzaEscuro);
    font-weight: 700;
}

#plano-usuario{
    color: var(--corPrincipal);
    font-weight: 400;
}

.menu-secoes{
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.menu-secoes > a{
    text-decoration: none;
    color: var(--corCinzaEscuro);
    padding: 0.5rem 1rem;
}

.menu-secoes > a:hover{
    color: var(--corPrincipal);
    border-left: 4px solid var(--corPrincipal);
}

/* -------------------- Área de Dados -------------------- */
.dados-mutaveis{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-edit{
    display: flex;
    flex-direction: column;

    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);
}

.dados-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 5rem;
    padding: 3rem;
}

.dados-grid-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dados-grid-item > label{
    color: var(--corCinzaEscuro);
}

.dados-grid-item > input{
    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);

    background-color: var(--corCinzaClaro);
    color: var(--corCinzaEscuro);
}


