h1{
    padding-top: 0.5rem;
    font-family: var(--fonteEstilizada);
    font-size: 3rem;
    color: var(--corPrincipal);
}

h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.tipos-planos{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 5rem;

    justify-content: center;
}

.plano-x{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 3rem 2rem;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;

    transition: .5s ease;
}

.plano-x:hover{
    transform: translateY(-10px);
    border: 1px solid var(--corPrincipal);
}

.plano-x h3{
    margin: 0rem;
    text-align: center;
    
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--corPrincipal);
}

.plano-x h2{
    padding-top: 1rem;
    padding-bottom: .5rem;

    font-size: 2rem;
}

.plano-x p{
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
}

.descricao-planos{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;

    font-size: 1.3rem;
    list-style: none;
}

.descricao-planos li{
    background-image: url("../img/Icon-CheckMark.png");
    background-repeat: no-repeat;
    background-position: 0 6px; /* ajusta o alinhamento vertical */
    background-size: 20px;      /* <-- tamanho do ícone (mude aqui) */
    padding-left: 28px;         /* espaço pro ícone */
    margin: 6px 0;
}

.btn-assinar{
    padding: .5rem;
    margin-top: auto;
    font-size: 1.3rem;

    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
    border-radius: 1rem;
    transition: .5s ease;
}

.btn-assinar:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}


@media (max-width: 1500px){
    .main-planos{
        width: 90%;
    }

    .plano-x{
        width: 100%;
    }
}

/* -------------------- RESPONSIVIDADE 1050px -------------------- */

@media (max-width: 1050px) {
    .main-planos{
        max-width: 100vw;
    }

    .tipos-planos{
        flex-direction: row;
        margin: 0 1.5rem;
    }

    .plano-x{
        width: 30%;
    }

    .plano-x h3{
        font-size: 2rem;
    }

    .plano-x h2{
        font-size: 1.5rem;
    }

    .plano-x p{
        font-size: 1.1rem;
    }

    .plano-x li{
        font-size: 1rem;
    }

    .descricao-planos li{
       margin: 0; 
    }
}



/* -------------------- RESPONSIVIDADE 850px -------------------- */
@media (max-width: 850px){
    .main-planos h1{
        font-size: 2.5rem;
    }

    .tipos-planos{
        flex-direction: column;
        margin-bottom: 0;
    }

    .plano-x{
        width: 90vw;
        padding: 2rem 2rem;
        box-sizing: border-box;
    }

    .plano-x:hover{
        transform: translateY(0px);        
    }

    .plano-x h3{
        font-size: 2.8rem;
    }

    .plano-x h2{
        font-size: 1.5rem;
    }

    .descricao-planos li{
       margin: 0; 
    }
}