.banners{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3.5rem;

    color: var(--corPreto);
}

.banners img{
    width: 60%;
}

.banner-2 h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1{
    font-family: var(--fonteEstilizada);
    font-size: 2.5rem;
}

h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

h2{
    font-family: var(--fonteEstilizada);
    font-size: 2rem;

    color: var(--corPrincipal);
}

p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.container-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

.container-banner img{
    max-width: fit-content;
}

.container-banner p{
    writing-mode: vertical-rl;
    min-width: max-content;

    font-weight: bold;
    color: var(--corPrincipal);
}


/* --------------- RESPONSIVIDADE TAMANHOS ---------------- */
/* ----------------- 1500px 1050px 850px -------------------*/

@media (max-width: 850px){
    .main-sobre{
        width: 90%;
    }

    .banners{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .banners h1{
        font-size: 2rem;
    }

    .banners h2{
        font-size: 1.6rem;
    }

    .banners h3{
        font-size: 1.4rem;
    }

    .banners img{
        width: 100%;
    }
}