/* ------------ Importa Fontes de Texto------------ */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* Cores: */
    --corPrincipal: #129458;
    --corSecundária: #1f4935;
    --corBranco: #fff;
    --corCinzaEscuro: #d3d3d3;
    --corCinzaClaro: #eee;
    --corPreto: #0E0F11;

    --fonteComum: 'Archivo';
    --fonteEstilizada: 'IBM Plex Mono';
}

*{
    margin: 0;
    padding: 0;

    font-family: var(--fonteComum);
}

main{
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
