/* ------------ Importa Fontes de Texto------------ */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    /* Cores: */
    --corPrincipal: #129458;
    --corSecundária: #1f4935;
    --corBranco: #fff;
    --corCinzaEscuro: #d3d3d3;
    --corCinzaClaro: #eee;
    --corPreto: #0E0F11;

    --Archivo: 'Archivo';
    --ArchivoBlack: 'ArchivoBlack-Regular';
    --AdelleMono: 'adelle-mono-flex-bold';
}

*{
    margin: 0;
    padding: 0;

    font-family: var(--Archivo);
}

main{
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
