/* ------------ Importa Fontes de Texto------------ */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* Cores: */
    --corPrincipalTransparente: #12945842;
    --corPrincipal: #129458;
    --corSecundaria: #317554;
    --corVermelhoPrincipal: #a31a1a;
    --corVermelhoTransparente: #f09595;
    --corBranco: #fff;
    --corCinzaEscuro:#666;
    --corCinzaMedio: #d3d3d3;
    --corCinzaClaro: #eee;
    --corPreto: #2e2e2e;

    --borda: 1px solid var(--corCinzaMedio);
    --sombra:  0px 7px 7px rgba(0, 0, 0, 0.10);
    --sombraDestaque:  0px 7px 7px rgba(0, 0, 0, 0.50);

    --fonteComum: 'Archivo';
    --fonteEstilizada: 'IBM Plex Mono';
}

*{
    margin: 0;
    padding: 0;

    font-family: var(--fonteComum);

    transition: .5s ease;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--corPrincipal) var(--corCinzaClaro);
}

main{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--corBranco);
}

.btn-principal{
    padding: .3em;
    font-size: 130%;

    color: var(--corBranco);
    background-color: var(--corPrincipal);

    border: 1px solid var(--corPrincipal);
    border-radius: 1em;
}

.btn-principal:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}

.btn-secundario{
    padding: .3em;
    font-size: 1rem;

    color: var(--corPrincipal);
    background-color: var(--corPrincipalTransparente);

    border: 1px solid var(--corPrincipal);
    border-radius: 1em;
    box-shadow: var(--sombra);
}

.btn-secundario:hover{
    cursor: pointer;
    color: var(--corBranco);
    background-color: var(--corPrincipal);
}

.btn-vermelho{
    padding: .3em;
    font-size: 1rem;

    color: var(--corVermelhoPrincipal);
    background-color: var(--corVermelhoTransparente);

    border: 1px solid var(--corVermelhoPrincipal);
    border-radius: 1em;
    box-shadow: var(--sombra);
}

.btn-vermelho:hover{
    cursor: pointer;
    color: var(--corBranco);
    background-color: var(--corVermelhoPrincipal);
}

.btn-desativado{
    pointer-events: none;
    background-color: var(--corCinzaMedio);
    color: var(--corCinzaEscuro);
    border-color: var(--corCinzaEscuro);
}

.input-desativado{
    pointer-events: none;
    color: var(--corCinzaMedio);
    background-color: var(--corCinzaClaro);
}

.conteudo-desativado{
    pointer-events: none;
    filter: grayscale(90%);
    background-color: var(--corCinzaClaro);
}

.conteudo-oculto{
    pointer-events: none;
    display: none;
}

.conteudo-revelado{
    pointer-events: all;
    display: flex;
}
/* ---------- Animação de Carregamento ---------- */
.tela-carregamento{
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.5);
}

.icone-carregamento{
    /* Decoração do Circulo */
    border: 4px solid var(--corCinzaEscuro);
    border-top-color: var(--corPrincipal);
    border-radius: 50%;
    height: 30px;
    width: 30px;

    /* Animação: */
    animation: is-rotating 1s infinite;
}


/* --------------- RESPONSIVIDADE ---------------- */

@media (max-width: 850px){
    * {
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-x: hidden;
    }

    *::-webkit-scrollbar {
        display: none;
    }
}


/* --------------- ANIMAÇÕES ---------------- */

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}