
/*
        Cores
Verde Claro = 129458
Verde Escuro = 1f4935
*/

@charset "UTF-8";
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corVerdeClaro: #129458;
    --corVerdeEscuro: #1f4935;
    --corBranco: #fff;
}

@font-face {
    font-family: adelle-mono-flex-bold;
    src: url('../fonts/adelle-mono-flex-bold.ttf') format('truetype');
}

body {
    font-family: 'adelle-mono-flex-bold', sans-serif;
    margin: 0;
    padding-bottom: 80px;
}

.container{
    flex-grow: 1;
}

header {
    min-width: 320px;
    background-color: var(--corVerdeEscuro);
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

#logo{
    margin-left: -40px;
    margin-right: 20px;
    max-width: 200px;
    position: relative;
    margin-bottom: -5px;
}
#logo:hover{
    cursor: pointer;
}

.busca{
    display: inline-block;
    align-items: center;
    padding-bottom: 10px;
}
.busca input{
    display: inline-block;
    border: none;
    width: 380px;
    padding: 10px 10px;
    border-radius: 3px 0px 0px 3px;
}
.busca input::placeholder{
    padding: 10px 0px;
    text-align: left;
}
.busca button {
    display: inline-block;
    background-color: var(--corVerdeClaro);
    color: var(--corBranco);
    border: none;
    padding: 10px 12px;
    border-radius: 0px 3px 3px 0px;
}
.busca button:hover{
    text-decoration: none;
}

#carrinho{
    max-height: 30px;
    position: relative;
    margin-bottom: -10px;
    margin-left: 30px;
    border: 3px solid #12945700;
}

#carrinho:hover{
    cursor: pointer;
}

#user{
    max-height: 38px;
    position: relative;
    margin-bottom: -14px;
    margin-left: 15px;
    border-radius: 100px;
    border: 3px solid #12945700;
}

#user:hover{
    cursor: pointer;
    border: 3px solid var(--corVerdeClaro);
    transition: .2s;
}

#tema{
    max-height: 40px;
    position: relative;
    margin-bottom: -15px;
    margin-left: 20px;
    border-radius: 100px;
    border: 3px solid #12945700;
    display: inline-block;
}

.usuario{
    position: relative;
    display: inline-block;
}

.userMenu {
display: none;
position: absolute;
background-color: var(--corBranco);
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
z-index: 1;
min-width: 110px;
padding: 10px 0;
border-radius: 8px;
}

.userMenu a {
color: black;
padding: 10px 15px;
text-decoration: none;
text-transform: capitalize;
display: block;
font-size: 12px;
}

.userMenu a:hover {
background-color: #f1f1f1;
}

.usuario:hover .userMenu {
display: block;
}

nav{
    background-color: var(--corVerdeClaro);
    min-width:100%;
    padding: 8px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
    display: inline-block;

}
nav ul {
    list-style-type: none;
    margin: 0px;
    max-width: 1024px;
    padding: 0px 50px;
    display: inline-block;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    
}
nav ul li a {
    color: var(--corBranco);
    text-decoration: none;
    font-weight: bold;
    padding: 8.5px;
    font-family: 'adelle-mono-flex-bold', sans-serif;
}
nav ul li a:hover {
    color: var(--corVerdeEscuro);
    background-color: var(--corBranco);
    transition: .5s;
    border-radius: 3px;
}

main {
    padding: 20px;
    background-color: var(--corBranco);
    min-width: 400px;
    max-width: 715px;
    margin: auto; /*Centraliza*/
    margin-top: 120px;
    justify-content: space-around;
}

main ul li{
    list-style: none;
    display: inline-block;
    
}

.livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.livro {
    width: 220px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.livro:hover{
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.26);
    transition: .3s;
}

.livro img {
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

.livro h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.livro p {
    margin-bottom: 10px;
}

button {
    background-color: var(--corVerdeEscuro);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: var(--corVerdeClaro);
    transition: .5s;
}





/* ------------Footer------------ */
footer {
    background-color: #129458; /* Verde claro */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: fixed; /* Fixa o footer no final */
    bottom: 0; /* Garante que fique no fundo */
    left: 0; /* Garante que se estenda por toda a largura da tela */
    flex-shrink: 0; /* Evita que o footer encolha */
    z-index: 9999; /* Garantir que o footer fique sobre outros elementos */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer-left img,
.footer-right img {
    width: 50px;
    height: auto;
}

.footer-middle {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left img,
    .footer-right img {
        width: 30px;
    }
}


