/*
        Cores
Verde Claro = 129458
Verde Escuro = 1f4935
*/

/*#tema{
    max-height: 40px;
    position: relative;
    margin-bottom: -15px;
    margin-left: 20px;
    border-radius: 100px;
    border: 3px solid #12945700;
    display: inline-block;
}*/

@charset "UTF-8";
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corVerdeClaro: #129458;
    --corVerdeEscuro: #1f4935;
    --corBranco: #fff;
}



/* ------------Fontes de Texto------------ */
@font-face {
    font-family: adelle-mono-flex-bold;
    src: url('../fonts/adelle-mono-flex-bold.ttf') format('truetype');
}

@font-face {
    font-family: Archivo-VariableFont;
    src: url('../fonts/Archivo-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: ArchivoBlack-Regular;
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}


html{
    scroll-behavior: smooth; /* Ativa o smooth scroll */
    scroll-padding-top: 112px; /* Compensa a altura do header */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
}

.container{
    flex-grow: 1;
}

header {
    min-width: 320px;
    background-color: var(--corVerdeEscuro);
    padding-top: 25px;
    text-align: center;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

#logo{
    margin-left: -40px;
    margin-right: 20px;
    max-width: 200px;
    position: relative;
    margin-bottom: -5px;
}
#logo:hover{
    cursor: pointer;
}

.busca{
    display: inline-block;
    align-items: center;
    padding-bottom: 10px;
}
.busca input{
    display: inline-block;
    border: none;
    width: 380px;
    padding: 10px 10px;
    border-radius: 3px 0px 0px 3px;
}
.busca input::placeholder{
    padding: 10px 0px;
    text-align: left;
}
.busca button {
    display: inline-block;
    background-color: var(--corVerdeClaro);
    color: var(--corBranco);
    border: none;
    padding: 10px 12px;
    border-radius: 0px 3px 3px 0px;
    font-family: 'Archivo-VariableFont', sans-serif;
}
.busca button:hover{
    text-decoration: none;
    background-color: #fff;
    border-radius: 1px solid #129458;
    color: #129458;
}

#carrinho{
    max-height: 30px;
    position: relative;
    margin-bottom: -10px;
    margin-left: 30px;
    border: 3px solid #12945700;
}

#carrinho:hover{
    cursor: pointer;
}

#user{
    max-height: 38px;
    position: relative;
    margin-bottom: -14px;
    margin-left: 15px;
    border-radius: 100px;
    border: 3px solid #12945700;
}

#user:hover{
    cursor: pointer;
    border: 3px solid var(--corVerdeClaro);
    transition: .2s;
}

.usuario{
    position: relative;
    display: inline-block;
}

.userMenu {
display: none;
position: absolute;
background-color: var(--corBranco);
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
z-index: 1;
min-width: 110px;
padding: 10px 0;
border-radius: 8px;
}

.userMenu a {
color: black;
padding: 10px 15px;
text-decoration: none;
text-transform: capitalize;
display: block;
font-size: 12px;
}

.userMenu a:hover {
background-color: #f1f1f1;
}

.usuario:hover .userMenu {
display: block;
}

nav{
    background-color: var(--corVerdeClaro);
    min-width:100%;
    padding: 8px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
    display: inline-block;

}
nav ul {
    list-style-type: none;
    margin: 0px;
    max-width: 1024px;
    padding: 0px 50px;
    display: inline-block;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    
}
nav ul li a {
    color: var(--corBranco);
    text-decoration: none;
    font-weight: bold;
    padding: 8.5px;
    font-family: 'Archivo-VariableFont', sans-serif;
}
nav ul li a:hover {
    color: var(--corVerdeEscuro);
    background-color: var(--corBranco);
    transition: .5s;
    border-radius: 3px;
}

main {
    padding: 20px;
    background-color: var(--corBranco);
    min-width: 400px;
    max-width: 715px;
    margin: auto; /*Centraliza*/
    margin-top: 120px;
    justify-content: space-around;
}

main ul li{
    list-style: none;
    display: inline-block;
    
}


button {
    background-color: var(--corVerdeEscuro);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: var(--corVerdeClaro);
    transition: .5s;
}



/* ------------Footer------------ */
footer {
    background-color: #1f4935;
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.footer-column {
    flex: 1;
    padding: 0 15px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #129458;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 14px;
    color: #bbbbbb;
    text-align: center;
}

.footer-imagens {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}


.footer-imagens img:first-child {
    align-self: flex-start;
}

.footer-imagens img:last-child {
    align-self: flex-end;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left img,
    .footer-right img {
        width: 30px;
    }
}






/* Responsividade */
@media only screen and (max-width: 600px) {
    header {
        padding-top: 15px; /* Ajusta o padding do cabeçalho */
    }

    .busca input {
        width: 100%; /* Faz a barra de busca ocupar toda a largura */
    }

    .livros-container {
        display: grid;
        grid-template-columns: 1fr; /* Empilha os livros em uma coluna */
    }

    .colunas {
        display: grid;
        grid-template-columns: 1fr; /* Empilha os planos verticalmente */
    }
}

