<img src="" alt="RetroReads Logo">
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/catalogo">Catálogo</a></li>
        <li><a href="/foruns">Fóruns</a></li>
        <li><a href="/precos">Preços</a></li>
    </ul>
</nav>
