.main-assinatura{
    width: 50%;
}

h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--corPrincipal);
    font-size: 2.5rem;
    font-family: var(--fonteEstilizada);
}


.container-assinatura{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    border: var(--borda);
    border-radius: 2rem;
    box-shadow: var(--sombra);
}

.info-assinatura{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    padding: 0em 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.lados-assinatura{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

/* ---------- Parte Esquerda ---------- */

.esquerda-assinatura{
    font-size: 1.3rem;
}

.esquerda-assinatura h3{
    margin-bottom: 3%;
    padding-bottom: 0.5rem;

    font-weight: normal;
    font-size: 1.7rem;
}

.esquerda-assinatura span{
    color: var(--corPrincipal);
    font-weight: bold;
}

.topicos-assinatura {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.topicos-assinatura li{
    list-style: none;
    font-size: 1.3rem;

    background-image: url("../img/Icon-CheckMark.png");
    background-repeat: no-repeat;
    background-position: 0 6px; /* ajusta o alinhamento vertical */
    background-size: 20px;      /* <-- tamanho do ícone (mude aqui) */
    padding-left: 28px;         /* espaço pro ícone */
    margin: 6px 0;
}

/* ---------- Parte Direita ---------- */

.direita-assinatura{
    width: 50%;
    padding-top: 1rem;
}

.direita-assinatura p{
    text-align: justify;
    font-size: 1.7rem;
    padding-bottom: 3rem;
}

.direita-assinatura h2{
    font-size: 2rem;
    font-weight: normal;
    justify-content: center;
    align-items: center;  
}

.direita-assinatura span.valor-assinatura{
    font-size: 2.5rem;
    font-weight: normal;
}

.direita-assinatura span.cifrao-assinatura{
    position: relative;
    bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------- Parte de baixo ---------- */

.baixo-assinaturas{
    display: flex;
    flex-direction: row;
    padding: 1em 2rem;
}

.baixo-assinaturas img{
    height: 4rem;
    margin-right: auto;
}

#btn-finalizar{
    background-color: var(--corPrincipal);
    color: white;
    border: 1px solid var(--corPrincipal);
    padding: 1em 2rem;
    font-size: 1.3rem;
    border-radius: 2rem;
    margin-left: auto;

    transition: .5s ease;
}

#btn-finalizar:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}