.main-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin-top: 5rem;
    margin-bottom: 5rem;
}

img {
    width: 200px;
    height: auto;
}