.main-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding: 3rem;

    box-shadow: var(--sombra);
    border: var(--borda);
    border-radius: 2rem;
}

.container h2{
    color: var(--corPrincipal);
    padding-top: 0.5rem;
    padding-bottom: 2rem;

    text-align: center;
    font-size: 2.5rem;
    font-family: var(--fonteEstilizada);
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.3rem;
}

.container input{
    width: 15vw;
    padding: 1rem;

    font-size: 1rem;

    background-color: var(--corCinzaClaro);
    border: var(--borda);
    border-radius: 2rem;
}

.container p{
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.container a{
    text-decoration: none;
    font-weight: bold;
    color: var(--corPrincipal);
}

.container a:hover{
    text-decoration: underline;
}

#btn-logar{
    margin-top: 2rem;
    padding: .5rem;
    padding-left: 4rem;
    padding-right: 4rem;

    font-size: 1.3rem;

    color: var(--corBranco);
    background-color: var(--corPrincipal);
    border: var(--borda);
    border-radius: 2rem;
}
#btn-logar:hover{
    cursor: pointer;
    color: var(--corPrincipal);
    background-color: var(--corBranco);
}


/* -------------------- RESPONSIVIDADE 800px -------------------- */
@media (max-width: 800px) {
    .container{
        width: 60vw;
        padding: 2rem 1rem;
    }

    .container form{
        width: 100%;
    }

    .container input{
        width: 50vw;
        padding: .8rem;
        box-sizing: border-box;
    }
}