header{
    z-index: 999999;
}

/* Article */
.header{
    height: 4em;
    padding: 1em 10% 0px 10% ;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;

    background-color: var(--corBranco);
}

/* Section 1 */
.logo{
    height: 3em;
}

/* Section 2 */
.search-bar{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    gap: 0.2em;
}

.input-search{
    height: 3em;
    width: 40em;

    background-color: var(--corCinzaClaro);
    border: 1px solid var(--corCinza);
    border-radius: 15px 0px 0px 15px;
}

#btn-busca{
    height: 3em;
    width: 5em;

    background-color: var(--corPrincipal);
    border: 1px solid var(--corCinza);
    border-radius: 0px 15px 15px 0px;

    cursor: pointer;
}

#btn-busca:hover{
    transition: 500ms;
    background-color: var(--corBranco);
}

/* Section 3 */


/* Nav */
.navbar{
    height: 2.5em;

    background-color: var(--corPrincipal);
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    
    color: var(--corBranco);
    list-style: none;
    font-size: 1.5em;
}

a{
    color: var(--corBranco);
    text-decoration: none;
}

